In [1]:
string="abc"
num=123
boolean=True
floatt=10.50
listt=[1,2,3]
tup=(1,2,3)
dictt={"name":"xyz","age":23}
print(type(string))
print(type(num))
print(type(boolean))
print(type(floatt))
print(type(listt))
print(type(tup))
print(type(dictt))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [2]:
name="ayushi"
age=18
print(f"Name:{name},Age:{age}")
print("Name:{},Age:{}".format(name,age))
print("apple","banana","guava","kiwi","avocado",sep="-")

print("abc",end="")
print("xyz")
print("I hate coming to college\nIt sucks")
print(r"file:///C:/Users/Ayushi%20Rai/AppData/Local/Microsoft/Windows/INetCache/IE/XMHSR2Q8/Python_Day-1[1].pdf")

Name:ayushi,Age:18
Name:ayushi,Age:18
apple-banana-guava-kiwi-avocado
abcxyz
I hate coming to college
It sucks
file:///C:/Users/Ayushi%20Rai/AppData/Local/Microsoft/Windows/INetCache/IE/XMHSR2Q8/Python_Day-1[1].pdf

In [3]:
import math
print(math.sqrt(1567))

39.585350825778974

In [4]:
my_range=range(5)
print(my_range)

range(0, 5)

In [5]:
num=12
num=float(num)
print(num)

12.0

In [1]:
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [2]:
p=5
q=3
print(p&q)
print(p|q)
print(p>>q)
print(p<<q)

1
7
0
40

In [3]:
x=5
y=10
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x**=3
print(x)
x%=3
print(x)
x//=3
print(x)
print(x is y)
print(x is not y)
print(y is x)
print(y is not x)

8
5
15
5.0
125.0
2.0
0.0
False
True
False
True

In [4]:
l1={"name":"sheena","age":18}
l2={"name":"sheena","age":18}
print(l1 is l2)
print(l1 is not l2)

False
True

In [5]:
text="hello world"
print("hello" in text)
print("hello" not in text)

True
False

In [6]:
l3=[1,2,3]
print(1 in l3)
print(4 in l3)

True
False

In [7]:
l4=["apple","kiwi","avocado"]
print("kiwi" in l4)
print("avocado" not in l4)

True
False

In [8]:
l5={"name":"ayushi","age":18}
print("name" in l5)
print("ayushi" in l5)

True
False

In [9]:
a="apple"
print("a" in "apple")

True

In [10]:
#order of precedence
print(3+2*2**2)
print(10+2*3**2)

11
28

In [11]:
#swapping two numbers using bitwise XOR operator
x=2
y=3
print("before swapping:",x,y)
x=x^y
y=x^y
x=x^y
print("after swapping:",x,y)

before swapping: 2 3
after swapping: 3 2

In [12]:
#operations on complex numbers
sum=(4j)+(4+4j)
sub=(4j)-(3j)
mul=(4j)*(3j)
div=(4j)/(3j)
exp=(2j)**(3j)
print(sum)
print(sub)
print(mul)
print(div)
print(exp)

(4+8j)
1j
(-12+0j)
(1.3333333333333333+0j)
(-0.004374812582252155+0.007846052028917017j)

In [13]:
l=[1,2,3,"abc","xyz","pqr",4,5,6,True]
print(l[0:9:2])

[1, 3, 'xyz', 4, 6]