In [1]:
print("Hello World!")

Hello World!

In [2]:
a=10
b=20
print("orginal",a,b)
a,b=b,a
print("swapped",a,b)

orginal 10 20
swapped 20 10

In [5]:
num=int(input("enter a number:"))
if num%2==0:
    print("even")
else:
    print("odd")

enter a number: 56

even

In [14]:
num1=int(input("enter a number:"))
num2=int(input("enter a number:"))
num3=int(input("enter a number:"))
if num1>=num2 and num1>=num3:
    print("greatest number is:",num1)
elif num2>=num1 and num2>=num3:
    print("greatest number is:",num2)
else:
    print("greatest number is:",num3)

enter a number: 12
enter a number: 13
enter a number: 13

greatest number is: 13

In [22]:
string=input("enter a string:")
num=int(string)
print(type(num))

enter a string: 123

<class 'int'>

In [25]:
hexstr='1A'
print(type(hexstr))
int_num=int(hexstr,16)
print(int_num)
print(type(int_num))

<class 'str'>
26
<class 'int'>

In [33]:
string=input()
num=int(string)
print(type(string))

 123

<class 'str'>

In [46]:
floating_num=float(input())
integer_num=int(floating_num)
print(integer_num)
print(type(integer_num))

 12.987

12
<class 'int'>

In [47]:
string_number=input()
floating_number=float(string_number)
print(floating_number)
print(type(floating_number))

 1234

1234.0
<class 'float'>

In [49]:
#implicit data type conversion
a=12
b=10.0
print(a+b)

22.0

In [50]:
#explicit data type conversion
a=12
b=float(a)
print(b)
print(type(b))

12.0
<class 'float'>

In [56]:
employee_count=int(input("enter employee count:"))
x=bin(employee_count)
print(x)
print(type(x))

enter employee count: 100

0b1100100
<class 'str'>

In [57]:
revenue=float(input("enter the revenue:"))
print(f"${revenue:,.2f}")

enter the revenue: 12345.67

$12,345.67

In [59]:
revenue=float(input("enter the revenue:"))
print(f"${revenue:,.2f}")

enter the revenue: 80000000

$80,000,000.00

In [64]:
marks1=int(input("enter marks in subject 1:"))
marks2=int(input("enter marks in subject 2:"))
marks3=int(input("enter marks in subject 3:"))
marks4=int(input("enter marks in subject 4:"))
marks5=int(input("enter marks in subject 5:"))
if marks1<=100 and marks2<=100 and marks3<=100 and marks4<=100 and marks5<=100:
    sum=marks1+marks2+marks3+marks4+marks5
    print("sum of five subjects are:",sum)
    percent=(sum/500)*100
    print("percentage:",percent)
else:
    print("Invalid marks entered")

enter marks in subject 1: 101
enter marks in subject 2: 90
enter marks in subject 3: 78
enter marks in subject 4: 67
enter marks in subject 5: 91

Invalid marks entered

In [66]:
#gross salary
basic=float(input("enter the basic:"))
grade=input("enter the grade:")
HRA=(20/100)*basic
DA=(50/100)*basic
if grade=="A":
    allow=1700
elif grade=="B":
    allow=1500
else:
    allow=1300
PF=(11/100)*basic
gross_salary=(basic+HRA+DA+allow)-PF
print("gross salary is:",gross_salary)

enter the basic: 4567
enter the grade: B

gross salary is: 8761.529999999999

In [68]:
celsius=float(input("enter the temperature in celsius:"))
fahrenheit=(celsius*9/5)+32
print("temperature in fahrenheit degrees is:",fahrenheit)

enter the temperature in celsius: 37

temperature in fahrenheit degrees is: 98.6

In [69]:
fahrenheit=float(input("enter the temp in fahrenheit:"))
celsius=(fahrenheit-32)*5/9
print("temp in celsius degrees is:",celsius)

enter the temp in fahrenheit: 98.6

temp in celsius degrees is: 37.0

In [73]:
G=6.67*(10**-11)
m1=float(input("enter the mass of body 1"))
m2=float(input("enter the mass of body 2"))
r=float(input("enter the distance between two bodies:"))
F=(G*m1*m2)/(r**2)
print("gravitational force is:",F)

enter the mass of body 1 5000000000000
enter the mass of body 2 60000000000000
enter the distance between two bodies: 80000000000000000000000000000000000000000000000000000000000

gravitational force is: 3.1265625000000007e-102

In [74]:
a=10
b=20
print(a,b)
x=a
a=b
b=x
print(a,b)

10 20
20 10

In [75]:
a=10
b=20
print(a,b)
a=a+b
b=a-b
a=a-b
print(a,b)

10 20
20 10

In [86]:
import math
num=float(input("enter a number:"))
print(math.fabs(num))

enter a number: -10.90

10.9

In [92]:
x=3
y=4
print(complex(x,y))

(3+4j)

In [96]:
real1=float(input("enter real part of first number:"))
real2=float(input("enter real part of second number:"))
imag1=float(input("enter imaginary part of first number:"))
imag2=float(input("enter imaginary part of second number:"))
x=complex(real1,imag1)
y=complex(real2,imag2)
print(x+y)

enter real part of first number: -5.89
enter real part of second number: -9.00
enter imaginary part of first number: 6
enter imaginary part of second number: 5.45

(-14.89+11.45j)

In [6]:
a=float(input("enter a:"))
b=float(input("enter b:"))
c=float(input("enter c:"))
D=(b**2)-(4*a*c)
root1=(b*-1)+(D**0.5)/(2*a)
root2=(b*-1)-(D**0.5)/(2*a)
print("roots are:",root1,root2)

enter a: 2
enter b: 3
enter c: 4

roots are: (-3+1.1989578808281798j) (-3-1.1989578808281798j)

In [15]:
string=input("enter a string:")
mylist=string.split()
for i in :
    if i.isupper=="True":
        print(i.lower)
    else:
        print(i.upper)

enter a string: Ayushi

<built-in method upper of str object at 0x00000215AF30DC80>

In [20]:
year=int(input("enter the year:"))
if (year%4==0 and year%100!=0) or (year%400==0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

enter the year: 2025

2025 is not a leap year

In [27]:
string=input("enter an alphabet:")
if string in "AEIOUaeiou":
    print(f"{string} is a vowel")
else:
    print(f"{string} is a consonant")

enter an alphabet: H

H is a consonant

In [44]:
char=input("enter a character:")
if char in "AEIOUaeiou":
    print(f"{char} is a vowel")
elif char in "BCDFGHJKLMNPQRSTVWXYZbcdfghjklmnpqrstvwxyz":
    print(f"{char} is a consonant")
elif char in "1234567890":
    print(f"{char} is a digit")
else:
    print("invalid character")

enter a character: 0

0 is a digit

In [47]:
num=int(input("enter the number for table:"))
for i in range(1,11):
    x=num*i
    print(f"{num} x {i} = {x}")

enter the number for table: 18

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

In [48]:
sum=0
for i in range (1,51):
    sum=sum+i
    sum+=1
print("sum of first 50nnatural numbers are:",sum)

sum of first 50nnatural numbers are: 1325

In [51]:
num=int(input("enter the number:"))
fac=1
for i in range(1,num+1):
    fac=fac*i
print(f"factorial of {num} is {fac}")

enter the number: 5

factorial of 5 is 120

In [56]:
num=int(input("enter the number:"))
sum=0
while num!=0:
    digit=num%10
    sum=sum+digit
    num=num//10
print(f"sum of the digits of {num} is {sum}")

enter the number: 45

sum of the digits of 0 is 9

In [57]:
num=int(input("enter the number:"))
num1=str(num)
print(num1[::-1])

enter the number: 123

321

In [76]:
#perfect number
num=int(input("enter the number:"))
sum=0
for i in range(1,num):
    if num%i==0:
        sum=sum+i
if sum==num:
    print(f"{num} is a perfect number")
else:
    print(f"{num} is a not a perfect number")

enter the number: 28

28 is a perfect number

In [87]:
#armstrong number
num=int(input("enter a number:"))
order=len(str(num))
sum=0
while num!=0:
    digit=num%10
    x=digit**order
    sum=sum+x
    num=num//10
if num==sum:
    print(f"{num} is an armstrong number")
else:
    print(f"{num} is not an armstrong number")

enter a number: 153

0 is not an armstrong number

In [34]:
#checks whether a given number is prime or not
num=int(input("enter a number:"))
if num==1:
    print("1 is neither prime nor composite")
elif num==2:
    print("2 is a prime number")
elif num>1:
    for i in range(2,num):
        if num%i==0:
            print(f"{num} is a composite number")
            break
    else:
        print(f"{num} is a prime number")
else:
    print("Invalid number")

enter a number: 7

7 is a prime number

In [37]:
#all prime numbers between 1 and 500
for i in range(1,501):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,end=" ")

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499

In [44]:
#sum of all prime numbers from 1-1000
sum=0
for i in range(2,1001):#1 is neither prime nor composite 
    for j in range(2,i):
        if i%j==0:
            break
    else:
        sum=sum+i
print(sum)

76127