In [ ]:
count=1
while count<=10:
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n=int(input("enter the no of fruits you want to enter:"))
mylist=[]
for i in range(1,n+1):
  fruit=input("enter the fruit:")
  mylist.append(fruit)
print(mylist)

enter the no of fruits you want to enter:3
enter the fruit:mango
enter the fruit:banana
enter the fruit:strawberry
['mango', 'banana', 'strawberry']

In [ ]:
fruits=["apple","banana","mango"]
for fruit in fruits:
  print(fruit)

apple
banana
mango

In [ ]:
for i in range(3):
  print(i)
else:
  print("loop completed!")

0
1
2
loop completed!

In [ ]:
mylist=[1,2,3]
for i in mylist:
  print(i)

1
2
3

In [ ]:
rows=int(input("enter the no of rows:"))
for i in range(1,rows+1):
  print("*"*i)

enter the no of rows:6
*
**
***
****
*****
******

In [ ]:
rows=int(input("enter the no of rows:"))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

enter the no of rows:6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
rows=int(input("enter the no of rows:"))
num=1
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(num,end=" ")
    num+=1
  print()

enter the no of rows:6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [ ]:
rows=int(input("enter the no of rows:"))
for i in range(1,rows+1):
  for j in range(65,65+i):
    print(chr(j),end=' ')
  print()

enter the no of rows:6
A
A B
A B C
A B C D
A B C D E
A B C D E F

In [ ]:
rows=int(input('enter the no of rows:'))
for j in range(rows,0,-1):
      print("*"*j)

enter the no of rows:6
******
*****
****
***
**
*

In [ ]:
rows=int(input("enter the no of rows:"))
for i in range(1,rows+1):
  print(" "*(rows-i)+'*'*(2*i-1))

enter the no of rows:6
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
rows=int(input("enter the no of rows:"))
for i in range(rows,0,-1):
  print(" "*(rows-i)+"*"*(2*i-1))

enter the no of rows:6
***********
 *********
  *******
   *****
    ***
     *

In [ ]:
rows=int(input("enter the no of rows:"))
for i in range(1,rows+1):
  print(" "*(rows-i)+"*"*(2*i-1))
for j in range(rows,0,-1):
  print(" "*(rows-i)+"*"*(2*i-1))

enter the no of rows:6
     *
    ***
   *****
  *******
 *********
***********
***********
***********
***********
***********
***********
***********

In [ ]:
num=int(input("enter a number:"))
if num>1:
  for i in range(2,int(num*0.5)+1):
    if num%i==0:
      print(f"{num} is not a prime number")
      break
  else:
    print(f"{num} is a prime number")
else:
  print(f"{num} is not a prime number")

enter a number:13
13 is a prime number

In [ ]:
n=int(input("enter the no of terms:"))
a,b=0,1
print("fibonacci series:")
for i in range(1,n+1):
  print(a,end=" ")
  a,b=b,a+b

enter the no of terms:10
fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [ ]:
num=int(input("enter the no:"))
fac=1
for i in range(1,num+1):
  fac*=i
print(f"factorial of {num} is:",fac)

enter the no:5
factorial of 5 is: 120

In [ ]:
print("even numbers are:")
for i in range(1,21):
  if i%2==0:
    print(i,end=" ")

even numbers are:
2 4 6 8 10 12 14 16 18 20

In [ ]:
print("odd numbers are:")
for i in range(1,21):
  if i%2!=0:
    print(i,end=" ")

odd numbers are:
1 3 5 7 9 11 13 15 17 19

In [ ]:
for i in range(1,101):
  if i%7==0:
    print(i,end=" ")

7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [ ]:
num=int(input("enter a number:"))
for i in range(1,11):
  print(f"{num} x {i} =",num*i)

enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
sum=0
for i in range(1,51):
  sum+=i
print("The sum of first 50 natural numbers is:",sum)

The sum of first 50 natural numbers is: 1275

In [ ]:
fac=1
num=int(input("enter the number:"))
for i in range(1,num+1):
  fac*=i
print(f"factorial of {num} is:",fac)

enter the number:10
factorial of 10 is: 3628800

In [ ]:
num=int(input("enter a number:"))
sum=0
while num!=0:
  sum=sum+(num%10)
  num=num//10
print("sum of the digits is:",sum)

enter a number:6789
sum of the digits is: 30

In [ ]:
num=int(input("enter a number:"))
num1=str(num)
num2=num1[::-1]
print(int(num2))

enter a number:1002
2001

In [ ]:
num=int(input("enter a number:"))
reversed_num=0
while num!=0:
  digit=num%10
  reversed_num=reversed_num*10+digit
  num=num//10
print("reversed number is:",reversed_num)

enter a number:1002
reversed number is: 2001

In [ ]:
num=int(input("enter a number:"))
sum=0
for i in range(2,int(num*0.5)+1):
  if num%i==0:
    sum=sum+i
    if sum==num:
      print(f"{num} is a perfect number")
    else:
      print(f"{num} is not a perfect number")

enter a number:6
6 is not a perfect number
6 is not a perfect number